
.td-edit{
  width:80px; 
  text-align: center;
}
.td-edit1{
  width: 130px;
  text-align: center; 
}

.td-edit2{
  width: 220px;
  text-align: center;
}
.td-edit3{
  width: 120px;
  text-align: center; 
}

.td-editsm{
  width: 60px;
  text-align: center;
}
.logo {
  height: 60px;
}
.usuario-icon{
 font-size: 16px;
  padding-right: 5px;
}
.logo-login{
    height: 100px;
    display: block;
}
.img-center{
  margin: 0 auto;
}
.login .login-header{
  top:-100px;
}
.login .login-header .icon{
  top:6px;
}

.limpa_data {
    padding-left: 5px;
    cursor: pointer;
    color: #5D5E61;
}
.limpa_data span {
    font-size: 10px;
    padding-left: 3px;
}