
.td-edit{
  width:80px; 
  text-align: center;
}
.td-edit1{
  width: 130px;
  text-align: center; 
}

.td-edit2{
  width: 220px;
  text-align: center;
}
.td-edit3{
  width: 120px;
  text-align: center; 
}

.td-editsm{
  width: 60px;
  text-align: center;
}