<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    {% block htmltitle %}
    <title>titulo</title>
    {%endblock%}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    {% load staticfiles %}
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{% static 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme" />
    <link href="{% static 'css/principal.css' %}" rel="stylesheet"  />
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css" />
    <!-- ================== END BASE CSS STYLE ================== -->
    {% block extrastyle %}
        
    {%endblock%}
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">
            <!-- begin container-fluid -->
            <div class="container-fluid">
                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">
                    <a href="/" ><img class="logo" src="{% static 'img/logo-3f.png' %}"> </a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- end mobile sidebar expand / collapse button -->
                
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="notifications" href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                            <i class="fa fa-bell-o"></i>
                            {%if num_notifications > 0 %}
                                <span id="num_notifications" class="label num_notifications">{{num_notifications}}</span>
                            {%endif%}
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header" >Notificações (<span class="num_notifications">{{num_notifications}}</span>)</li>
                            {% for notification in notifications %}
                                <li class="clearfix">
                                  <img src="{{ notification.from_user.profile.get_picture }}" class="user-picture">
                                  <p>{{ notification|safe }}</p>
                                  <p><small>{{ notification.date }}</small></p>
                                </li>
                            {% empty %}
                                <li style="text-align: center">Nenhuma notificação não lida!</li>
                            {% endfor %}
                                <li style="text-align: center; padding-top:10px;"><a href="">Ver todas</a></li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user usuario-icon"></i>
                            <span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a href="javascript:;">Edit Profile</a></li>
                            <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
                            <li><a href="javascript:;">Calendar</a></li>
                            <li><a href="javascript:;">Setting</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Sair <i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Menu</li>
                   
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-list"></i> 
                            <span>Cadastros</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="{%url 'clientes:clientes'%}"><span>Clientes</span></a></li>
                            <li><a href="{%url 'materiais:equipamentos'%}"><span>Equipamentos</span></a></li>
                            <li><a href="{%url 'funcionarios:funcionarios'%}"><span>Funcionarios</span></a></li>
                            <li><a href="{%url 'funcionarios:funcoes'%}"><span>Funções</span></a></li>
                            <li><a href="{%url 'materiais:materiais'%}"><span>Materiais</span></a></li>
                            <li class="has-sub">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    Serviços
                                </a>
                                <ul class="sub-menu">
                                    <li class="has-sub">
                                        <a href="{%url 'servicos:servicos'%}">
                                            Serviços
                                        </a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="{%url 'servicos:tipos_servico'%}">
                                            Tipos de Serviço
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{%url 'usuarios:usuarios'%}"><span>Usuários</span></a></li>
                        </ul>
                    </li>
                    
                    
                   
                    <li><a href="{%url 'vegetativo:ordens_servico'%}"><i class="fa fa-users"></i><span>Vegetativo</span></a></li>
                    <li><a href="{%url 'obras:obras'%}"><i class="fa fa-users"></i><span>Obras</span></a></li>
                    
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-align-left"></i> 
                            <span>Menu Level</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="has-sub">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    Menu 1.1
                                </a>
                                <ul class="sub-menu">
                                    <li class="has-sub">
                                        <a href="javascript:;">
                                            <b class="caret pull-right"></b>
                                            Menu 2.1
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="javascript:;">Menu 3.1</a></li>
                                            <li><a href="javascript:;">Menu 3.2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:;">Menu 2.2</a></li>
                                    <li><a href="javascript:;">Menu 2.3</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Menu 1.2</a></li>
                            <li><a href="javascript:;">Menu 1.3</a></li>
                        </ul>
                    </li>
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        <!-- end #sidebar -->
        
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                {%block breadcrumb%}
                
                {%endblock%}
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            {%block titulo-pagina%}
            
            {%endblock%}
            <!-- end page-header -->
            {%block content%}
                 
            {%endblock%}
            
        </div>
        <!-- end #content -->
        
      
        
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    {% load staticfiles %}
    <!-- ================== BEGIN BASE JS ================== -->
 
    <script src="{% static 'plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
        <script src="{% static 'crossbrowserjs/respond.min.js"></script>
        <script src="{% static 'crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'js/apps.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    
    <script>
        $(document).ready(function() {
            App.init();
        });

    jQuery(document).ready(function(){
        var local = '';
        var pathname = '';
        //var pathname = window.location.pathname;
        //local_href = 'a[href="'+pathname+'"]'
        //local = $(local_href);
        
        local_url= $("#local-href").attr("href");
        local_href = 'a[href="'+local_url+'"]'
        local = $(local_href); 
        $(local).parents().addClass(' active');
        
        $("#notifications").click(function () {
            $.ajax({
                url: "{%url 'core:notificacao_vista'%}",
                beforeSend: function () {
                  
                },
                success: function (data) {
                    $(".num_notifications").text('0');
                    $("#num_notifications").hide();
                }
            });
        });
    });
    </script>
    {%block js%}
    {%endblock%}

</body>
</html>




































    
    
