{% extends 'base.html' %}
{% block content %}
    <div class="breadcrumb clearfix">
        <a class="home" href="/" title="Voltar para a Página Inicial"><i class="fa fa-home"></i></a>
        <span class="navigation-pipe">&gt;</span>
        Altera Senha
    </div>

    
    <h5 class="line"><span>Alterar Senha</span></h5>

    {% if senha_alterada %}
        <h4 class="alert alert-warning">Senha Alterada com sucesso.</h4>
        <br />
        <br />
        <p><strong>Você deverá realizar o seu login novamente por motivos de segurança.</strong></p>

        <a href="{%url 'login' %}" class="btn btn-success">Login</a>
    {%else%}
    
   
       {%if form.non_field_errors %}

<script>    
    var msg_erro ='{{form.non_field_errors.as_text}}'; 
    var msg_erro = msg_erro.replace("*","");
    $("#erro").append('<tr><td>Geral</td><td class="text-danger">'+msg_erro+'</td></tr>');
    $("#tb-erro").show();
</script>

{%endif%}
<div id="tb-erro" class="panel panel-warning" style="display:none;" >
    <div class="panel-heading erro"><h5>Por favor corrija os erros abaixo</h5></div>
    <div id="panel-erro" class="panel-body">
        <table id="erro" class="table table-striped table-condensed">
           <thead>
                <tr>
                    <th>Campo</th>
                    <th>Erro</th>
                </tr>
            </thead>
            <tbody >
              
            </tbody>
        </table>   
    </div>
</div>

    {%if form.non_field_errors %}
        <script>    
            var msg_erro ='{{form.non_field_errors.as_text}}'; 
            var msg_erro = msg_erro.replace("*","");
            $("#erro").append('<tr><td>Geral</td><td class="text-danger">'+msg_erro+'</td></tr>');
            $("#tb-erro").show();
        </script>
    {%endif%}
    <form class="form-horizontal" role="form" method="post" action"" enctype="multipart/form-data">
        {%csrf_token%}
        {%for field in form%}
            <div  id="group-id-{{ field.name }}" class="form-group form-inline">
                <label for="id_{{ field.name }}" class="col-sm-3 col-md-3 control-label"> {{field.label}}</label>
                {% if field.errors %}
                    {{field}}                            
                    <script>
                        $('#group-id-{{ field.name }}').addClass( "has-error");
                        var msg_erro ='{{field.errors.as_text}}'; 
                        var msg_erro = msg_erro.replace("*","");
                        $("#erro").append('<tr><td>{{field.label}}</td><td class="text-danger">'+msg_erro+'</td></tr>');
                        $("#tb-erro").show();
                    </script>
                {%else%}
                    {{field}}
                {%endif%}                    
            </div>

       {%endfor%}
        <div class="form-actions">
            <a href="{% url 'core:home' %}" class="btn btn-danger">Cancelar</a>
            <button class="btn btn-success" type="submit">Salvar</button>
        </div>
    </form>


  
   {%endif%}
    
{% endblock %}