{% extends 'base.html' %}
{%block content%}
<div class="breadcrumb clearfix">
    <a class="home" href="/" title="Voltar para a Página Inicial"><i class="fa fa-home fa-lg"></i></a>
    <span class="navigation-pipe">&gt;</span>
    Usuários

</div>


<h5 class="line"><span>Usuários</span></h5>
	<a class="btn btn-primary" href="{% url 'usuarios:usuario_novo' %}">Novo&nbsp;&nbsp;<i class="fa fa-plus"></i></a>

	<div class="panel-body">
        <div class="adv-table">
            <table class="table table-bordered table-striped tb-lista" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>Perfil</th>
                        <th class="td-edit" colspan="2">Status</th>
                        <th class="td-edit">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for usuario in usuarios%}
                        <tr>
                            <td><strong>{{usuario.first_name|title}} {{usuario.last_name|title}}</strong></td>
                            <td>{{usuario.username}} </td>
                            <td>
                              {{usuario.grupo}}
                            </td>
                            {%if usuario.is_active == True %}
                                <td class="td-edit"><span class="badge alert-success">Ativado</span></td>
                                <td class="td-editsm">
                                      <a href="{% url 'usuarios:usuario_alterar_status' usuario_id=usuario.id %}" onclick="return confirm('Tem certeza que deseja desativar esse Cliente?')" title="Cliente Ativado"><i class="fa fa-toggle-on"></i></a>
                                </td>
                            {%else%}
                                <td class="td-edit"><span class="badge alert-danger">Desativado</span></td>
                                <td class="td-editsm">
                                      <a href="{% url 'usuarios:usuario_alterar_status' usuario_id=usuario.id %}" onclick="return confirm('Tem certeza que deseja ativar esse Cliente?')" title="Cliente Desativado"><i class="fa fa-toggle-off"></i></a>
                                </td>
                            {%endif%}  
                            <td class="text-center"><a href="{% url 'usuarios:usuario_editar' usuario_id=usuario.id %}"><i class="fa fa-pencil-square-o "></a></td>
                        </tr>
                    {%endfor%}
                  
                </tbody>
            </table>
        </div>
    </div>
     {% load staticfiles %}
    <script src="{% static 'js/jquery.dataTables.js'%}" type="text/javascript" ></script>
    <script src="{% static 'js/DT_bootstrap.js' %}" type="text/javascript" ></script>

    <script type="text/javascript">

      $(document).ready(function() {
          var oTable = $('#hidden-table-info').dataTable( {
              "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 3 ] }
              ],
              "aaSorting": [[0, 'desc']]
          });
      } );
    </script>
  
{%endblock%}